<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-License-Identifier: AGPL-3.0-only
Copyright (c) 2026 sol pbc
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application>
        <activity
            android:name=".probe.ProbeIndexActivity"
            android:exported="true"
            android:label="solstone probes"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".probe.ProbeTileRelayActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true" />
        <service
            android:name=".probe.ProbeTileService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="solstone FGS"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
